{% extends 'home/base.html' %} 
{% load static %} 

{% block meta %}
<title>Story</title>
{% endblock %} 

{% block content %}
<div class="py-5" style="margin-top: 7%; margin-bottom: 7%;">
    <div class="container bg-dark">
        <div class="row pt-1 pb-5">
            <div class="col">
                <h1 class="text-center text-light" style="font-family: Brush Script MT;">Post a Story</h1>
            </div>
        </div>
        <div class="row mx-1 p-4 bg-light rounded-lg">
            <div class="col">
                <div class="row" style="margin-left: 20px;" style="margin-bottom: 3%;">
                    <div class="col-md">
                        <div class=" col-mw ">
                            <form action='' method="POST">
                                {% csrf_token %} {{ form.description }}
                                <br>
                                <input class=" rounded-pill spinnaker p-3" type="submit" value="Submit your story" id="submissions" style="background-color: #5bc0de; color: azure;">
                            </form>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md flex-row" style="margin-top: 5%;">
                    <div id="middleSection" style="margin-bottom: 30px;">
                        <div class="ui search">
                            <div class="ui icon input align-items-center">
                                <input id="input-name" class="prompt" type="text" placeholder="Search Name">
                                <i class="search icon"></i>
                                <input type="submit" class="tombol" value="Search" id="pencetan">
                                
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div id="objective" class="col-md flex-row" style="max-height: 300px; overflow-y: scroll;">
                        {% for object in data %}
                        <div class="card mb-2 w-100 b-green bg-info">
                            <h3 style="font-family: Brush Script MT;" class="bg-primary">
                                {{ object.name }}
                            </h3>
                            <p>
                                {{ object.description }}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
$(function() {
    $('#pencetan').click(function() {
        var tempo = $('#input-name').val();
        var counter = 0;
        $.ajax({
            method: 'GET',
            url: '/account/getStory/' + tempo,
            dataType: 'json',
            success: function(data) {
                console.log(data);
                $('#objective').empty();
                var tobeadded = '';
                if (data.length === 0) {
                    $('#objective').append('<h3 class="txt-setting">Name does not exist</h3>');
                } else {
                    for (var i = 0; i < data.length; i++) {
                        if ((data[i]['name']).includes(tempo)) {
                            var namez = data[i]['name']
                            var storyz = data[i]['description']
                            tobeadded += 
                            `<div class="card mb-2 w-100 b-green bg-info">
                                <h3 style="font-family: Brush Script MT;" class="bg-primary"> ${namez} </h3>
                                <p> ${storyz} </p>
                            </div>`;
                        } else {
                            counter++;
                        }
                    }
                    if (data.length == counter) {
                        tobeadded += 
                            `<div class="card mb-2 w-100 b-green bg-info">
                                <h3 style="font-family: Brush Script MT;" class="bg-primary"> Unknown </h3>
                                <p> There is no user that goes by the name ${ tempo } </p>
                            </div>`;
                    }
                    $('#objective').append(tobeadded);
                }
            }
        })
    })

});

$("#submissions").hover(function(){
    $(this).css("color", "#62959A");
        }, function(){
    $(this).css("color", "azure");
});
$("#submissions").hover(function(){
    $(this).css("background-color", "#f7f7f7");
        }, function(){
    $(this).css("background-color", "#5bc0de");
});


</script>

{% endblock %}