{% extends 'home/base.html' %}
{% block content %}
<h1 style="text-align: center; margin-top: 100px;">Discussion Forum</h1>
    <div class="album py-5 bg-light" style="height: 100vh;">
      <div class="container">
        <div class="row" id="allpost">
          {% for post in posts %}
          <div class="col-md-4">
            <a class="text-dark" href="{{post.get_absolute_url}}">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="h4">{{post.title}}</p>
                  <p class="lead card-text">{{post.excerpt}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{post.author}}</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}

          {% if not request.user.is_authenticated %}
          <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-dark" href="{% url 'login:logging_in' %}" role="button">Login to create a new post</a>
            </div>
          </div>
          {% else %}
          <div class="container">
            <div class="row justify-content-center">
                <a class="btn btn-dark" href="newpost" role="button">Create new post</a>
            </div>
          </div>
          {% endif %} 

        </div>
      </div>
    </div>
<br>
    {% endblock %}