{% extends 'home/base.html' %}
{% load humanize %}

{% block content %}

<style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }
</style>

<br>
<br>

<div class="container">
  <div class="row justify-content-md-center pt-5">

    <div class="col-md-7">
      <p class="h2">{{post.title}}</p>
    </div>
    <div class="col-md-7">
      <p class="text-justify" style="font-size: 20px;">{{post.content|safe}}</p>
    </div>
    <div class="col-md-7">

      {% with allcomments.count as total_comments %}
      <h5 class="lead">
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h5>
      {% endwith %}

      {% load mptt_tags %}

      <div>
        {% recursetree comments %}
        <div id="{{ node.id }}" class="my-2 p-2 rounded">
          <div class="d-flex justify-content-between"><b>{{ node.name }}</b><div></div>{{ node.publish|naturaltime }}</div>
          <div>{{ node.content }}</div>
          <hr>
          {% if node.level < 3 %}
          {% if request.user.is_authenticated %}
          <button class="btn btn-light" onclick="myFunction({{ node.id }})">Reply</button>
          {% endif %}
          {% endif %}
        </div>
        {% if not node.is_leaf_node %}
        <div class="children pl-2 pl-md-5">
          {{ children }}
        </div>
        {% endif %}
        {% endrecursetree %}
      </div>

      {% if request.user.is_authenticated %}
      <button onclick="thatFunction()" class="btn btn-dark" id="newCommentButton">Create new comment</button>
      {% endif %}

      <div id="thatDIV" style="display:none;">
        <br>
        <p class="h6">Post comment as {{user}}</p>
        <form id="myForm" method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-dark" >Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
<br>
<script>
$(document).ready(function(){
  $("#newCommentButton").click(function(){
    $("#thatDIV").slideToggle();
  });
});

  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("newForm"))) {
      document.getElementById("newForm").remove();
    }

    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
      '<form id="newForm" class="form-insert py-2" method="post"> \
                <select name="parent" class="d-none" id="id_parentt"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_content">Reply as {{user}}:</label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content" placeholder="Content"></textarea> \
                {% csrf_token %} \
                <br> \
                <button type="submit" class="btn btn-dark">Submit</button> <button type="button" class="btn btn-dark" onclick="formExit()"">Close</button> \
              </form>');

    //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
  }

  $('#myForm').trigger("reset");
</script>

{% endblock %}